.bodyTextArea {
      box-sizing: border-box;
    height: 125px;
    width: 100%;
}

.questionWallLabels {
  padding: 0 2px; 
    color: #0C0D0E;
    font-family: inherit;
    font-size: 1.15384615rem;
    font-weight: 700;
    cursor: pointer;
}