.responsive {
  width: 100%;
  height: 500px;
}

.splash {
  background: #ffcf10;
  position: relative;
  width: 100%;
  height: 600px;
}

.header{
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  top: 17%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  
}

.bigHeader {
  font-size: 60px;
  font-family: 'Roboto Slab Bold',serif;
  font-weight: 700;
}

.headerMessage {
  padding-left: 29%;
  padding-right: 29%;
  font-size: 28px;
}