html, body { height: 100%; width: 100%; margin: 0; }

#root {
  height: 100%;
  width: 100%;
}

.body {
  /* display: flex; */
  /* height: 100%; */
  overflow: auto;
  width: 100%;
  margin: 0;
  background: #EAEAEA;
  /* display: block; */
  text-align: center;
  margin-bottom: 100px;
}

ul li {
  list-style: none;
}

.robotoFont {
  font-family: "Roboto";
}