html, body { height: 100%; width: 100%; margin: 0; }

#root {
  height: 100%;
}

.body {
  /* display: flex; */
  height: 94%;
  width: 100%;
  margin: 0;
  background: #EAEAEA;
  /* display: block; */
  text-align: center;
}