html, body { height: 100%; width: 100%; margin: 0; }

#root {
  height: 100%;
  width: 100%;
}

.body {
  /* display: flex; */
  height: 100%;
  width: 100%;
  margin: 0;
  background: #EAEAEA;
  /* display: block; */
  text-align: center;
  margin-bottom: 100px;
}

.footer {
  margin: 20px;
      max-width: 1264px;
    width: 100%;
    margin: 0 auto;
    margin-top: 40px;
    padding: 32px 12px 12px 12px;
    display: flex;
    flex-flow: row wrap;
    background: #242729;
    height: 200px;
    position: absolute;

    z-index: 200;
}

ul li {
  list-style: none;
}