.answerPost {

     font-family: arial;
     font-size: 20px;
     padding: 20px;
     width: 100%;
     border: none;
}

.voteBtn {
     width: 42px;
     height: 42px;
     border:none;
     cursor: pointer;
}

.voteLogo {
     font-size:24px;
}

.questionBody {
     display: flex;
     margin-left: 10px;
}

.entireAnswerPost {
     display: flex; 
}

.questionBasicInfo {
     font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
  color: #848d95;
     margin-left: 5px;
  font-size: 13px;
}

.mid {
     margin-left: 20px;
}

.questionTitle {
     display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;

  margin-right: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.separator {
     margin-top: 10px;
}


.answerListItems {
     padding-left: 0;
     list-style: none;
}

.voteBtnIcon{
/* fill:#F48024 ; */
    fill: #bbc0c4;
transform:origin;
  text-align:center;
}

.questionBodyContent {
     margin-left: 10px;
     width:100%;
}

.voteSection {
  text-align:center;

}

.answerSection {
     width:88%;
}

.answerInfo {
     float: right;
     font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
  color: #848d95;
}